.porfolio__figure:hover .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $brandColor;
  opacity: 0.9;
  transform: translateY(100%);
  transition: transform $transitionDefault;
}

.portfolio__info {
  color: $darkBackgroundText;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  padding-left: 24px;
  padding-right: 45px;
  padding-top: 31px;
  width: 370px;
}
